html,
body {
  color: #000;
}

nav {
  background: #333;
  height: 55px;
}

.content {
  margin-top: 55px;
}


.app-authentication {
  background: #333;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
}

.app-authentication .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.app-authentication .form-signin .checkbox {
  font-weight: 400;
}

.app-authentication .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.app-authentication .form-signin .form-control:focus {
  z-index: 2;
}

.app-authentication .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.app-authentication .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




.app-registration {
  background: #fff;
}




.app-home {
  background: #333;
  color: #fff;
  padding-top: 100px;
}


.app-about {
  background: #333;
  color: #fff;
}


.usercard {
  background: #fff;
  border-radius: 5px;
}

.usercard-header {}

.usercard-header .avatar {
  background: url(../img/multiple-users-silhouette.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  vertical-align: bottom;
}

.usercard-header img {}

.usercard-body {}

.usercard-footer {
  padding: 5px 10px;
}

.usercard-label {
  padding-left: 15px;
  font-style: italic;
  color: #7b7b7b;
  text-align: left;
  cursor: default;
}

.usercard-value {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: right;
  padding-right: 15px;
}


.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

#DivObjectTextPrice {
  font-size: 2em;
}

#DivObjectPrice {
  font-size: 2em;
}

.footer{
  height: 100px;
  background: #333333;
  display: block;
}
#graph-wrapper {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 35px;
}

#graph-wrapper > .graph-info {
  box-sizing: content-box;
}
#graph-wrapper > .graph-container {
  box-sizing: content-box;
}

#tooltip{
  z-index: 10000;
  position: fixed;
  height: auto;
}


#DivTableProducts{
  display: none;
}